@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-[#f7f6f2] text-ink font-sans;
}

::selection {
  background: #ffe7d1;
}

a {
  @apply text-inherit;
}

html {
  scroll-behavior: smooth;
}
